<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../main.css" />

</head>

<body>

<h1>My List App</h1>


    <form action="/" method="post">
    <input type="text" name="todos" class="input">
    <input type="submit" value="Add Todo" class="button" id="submit">
    </form>

    {{#todos}}
    <div class="list">
   <li><input class="button" type="button" value="Todo" onclick= value="completed"><span>{{.}}</span></li>
    </div>
    {{/todos}}
   

    </body>

</html>

