<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../main.css" />

</head>

<body>

<h1>My List App</h1>


    <form action="/" method="post">
    <input type="text" name="Landi" class="input">
    <input type="submit" value="Add Todo" class="button" id="submit">
    </form>

    {{#todos}}
    {{^completed}}
    <div class="list">
   <li><form action = "/complete" method = "post"> 
   <input type="hidden" name="something" value={{name}}>
   <span><input type="submit"  class="button" name= "name" value= "Mark As Complete" ></form>{{name}}</span></li><form action = "/delete" method ="post"> 
   <input type="hidden" name="something" value= "{{name}}">
   <span><input type="submit"  class="button" name= "name" value= "Delete Task" ></form>
   
    </div>
    {{/completed}}
    {{/todos}}
     <h2 class="heading">Completed Tasks</h2>
    {{#todos}}
   
    <div class="completedTasks">
    {{#completed}}
    {{name}}
    {{/completed}}
    </div>
    {{/todos}}
    
   
    

    </body>

</html>

